
*.plist

*.xcscheme

*.xcuserstate

Winamax-Sponsored-Challenge/build/Winamax-Sponsored-Challenge.build/Debug/Winamax-Sponsored-Challenge.build/dgph

Winamax-Sponsored-Challenge/build/Winamax-Sponsored-Challenge.build/Debug/Winamax-Sponsored-Challenge.build/Objects-normal/x86_64/Winamax-Sponsored-Challenge.LinkFileList

Winamax-Sponsored-Challenge/build/Winamax-Sponsored-Challenge.build/Debug/Winamax-Sponsored-Challenge.build/Winamax-Sponsored-Challenge-all-non-framework-target-headers.hmap

Winamax-Sponsored-Challenge/build/Winamax-Sponsored-Challenge.build/Debug/Winamax-Sponsored-Challenge.build/Winamax-Sponsored-Challenge-all-target-headers.hmap

Winamax-Sponsored-Challenge/build/Winamax-Sponsored-Challenge.build/Debug/Winamax-Sponsored-Challenge.build/Winamax-Sponsored-Challenge-generated-files.hmap

Winamax-Sponsored-Challenge/build/Winamax-Sponsored-Challenge.build/Debug/Winamax-Sponsored-Challenge.build/Winamax-Sponsored-Challenge-own-target-headers.hmap

Winamax-Sponsored-Challenge/build/Winamax-Sponsored-Challenge.build/Debug/Winamax-Sponsored-Challenge.build/Winamax-Sponsored-Challenge-project-headers.hmap

Winamax-Sponsored-Challenge/build/Winamax-Sponsored-Challenge.build/Debug/Winamax-Sponsored-Challenge.build/Winamax-Sponsored-Challenge.hmap

Winamax-Sponsored-Challenge/Winamax-Sponsored-Challenge.xcodeproj/project.pbxproj

Winamax-Sponsored-Challenge/Winamax-Sponsored-Challenge.xcodeproj/project.xcworkspace/contents.xcworkspacedata

Winamax-Sponsored-Challenge/Winamax-Sponsored-Challenge.xcodeproj/project.xcworkspace/xcuserdata/CHANfai.xcuserdatad/UserInterfaceState.xcuserstate

Winamax-Sponsored-Challenge/Winamax-Sponsored-Challenge.xcodeproj/project.xcworkspace/xcuserdata/CHANfai.xcuserdatad/UserInterfaceState.xcuserstate

Winamax-Sponsored-Challenge/Winamax-Sponsored-Challenge.xcodeproj/xcuserdata/CHANfai.xcuserdatad/xcschemes/Winamax-Sponsored-Challenge.xcscheme

*.xcuserstate

*.xcscheme
